#conteiner-post{
    width: 700px;
    background-color: gray;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

main{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.postit1{
    width: 150px;
    height: 150px;
    background-color: rgba(228, 139, 228, 0.877);
    
}

#primo,#secondo,#terzo,#quarto,#quinto,#sesto,#settimo,#ottavo{
    -webkit-box-shadow: 7px 5px 10px 1px rgba(55,55,55,0.76); 
box-shadow: 7px 5px 10px 1px rgba(55,55,55,0.76);

}

#primo{
    background: #CECAA4;
background: -moz-linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
background: -webkit-linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
background: linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
    transform: rotate(355deg);
}

#secondo{
    background: #839B80;
    background: -moz-linear-gradient(-45deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
    background: -webkit-linear-gradient(-45deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
    background: linear-gradient(135deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
   transform: rotate(8deg);
}

#terzo{
    background: #675B7E;
    background: -moz-linear-gradient(-45deg, #675B7E 0%, #B9A3E3 50%, #8273A0 100%);
    background: -webkit-linear-gradient(-45deg, #675B7E 0%, #B9A3E3 50%, #8273A0 100%);
    background: linear-gradient(135deg, #675B7E 0%, #B9A3E3 50%, #8273A0 100%);
    transform: rotate(354deg);
}

#quarto{
    background: #839B80;
background: -moz-linear-gradient(-45deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
background: -webkit-linear-gradient(-45deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
background: linear-gradient(135deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
    transform: rotate(9deg);
}

#quinto{
    background: #CECAA4;
background: -moz-linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
background: -webkit-linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
background: linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
    transform: rotate(340deg);
}

#sesto{
    background: #675B7E;
background: -moz-linear-gradient(-45deg, #675B7E 0%, #B9A3E3 50%, #8273A0 100%);
background: -webkit-linear-gradient(-45deg, #675B7E 0%, #B9A3E3 50%, #8273A0 100%);
background: linear-gradient(135deg, #675B7E 0%, #B9A3E3 50%, #8273A0 100%);
    transform: rotate(339deg);
}

#settimo{
    background: #CECAA4;
    background: -moz-linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
    background: -webkit-linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
    background: linear-gradient(45deg, #CECAA4 0%, #FFFACC 50%, #DDD9B1 100%);
    transform: rotate(353deg);
}

#ottavo{
    background: #839B80;
    background: -moz-linear-gradient(-45deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
    background: -webkit-linear-gradient(-45deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
    background: linear-gradient(135deg, #839B80 0%, #BCDEB8 50%, #87A084 100%);
    transform: rotate(6deg);
}